--- kibana.service.orig	2017-07-25 11:18:22.078948457 +0000
+++ kibana.service	2017-07-25 11:19:33.642712457 +0000
@@ -10,7 +10,7 @@
 # exist, it continues onward.
 EnvironmentFile=-/etc/default/kibana
 EnvironmentFile=-/etc/sysconfig/kibana
-ExecStart=/opt/kibana/bin/kibana 
+ExecStart=/opt/kibana/bin/kibana $args
 Restart=always
 WorkingDirectory=/
